.lang-switcher{
  position: absolute;
  right: 10px;
  top: 18px;
}
.links > a{
  color: #636b6f;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.links > a.active{
  text-decoration: underline;
}

.player-color{
  height: 3rem;
}

.player-color.red{
  background-color: #ff0000;
}
.player-color.blue{
  background-color: #0000ff;
}
.player-color.yellow{
  background-color: #ffff00;
}
.player-color.green{
  background-color: #00ff00;
}
.player-color.purple{
  background-color: #bb00ff;
}
.player-color.orange{
  background-color: #f47d1c;
}

.polygon{
  position: relative;
  background-image: url('../static/img/ancient_map.png');
  height: 800px;

  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 1px 4px 0px rgba(50, 50, 50, 0.75);  
}

.territory{
  text-align: center;
  font-size: 0.8rem;

	display: flex;
	justify-content: center;
  align-items: center;

  position: absolute;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);  
}
.ter-name{
  color: #313131;
}

.contynent-1{
  background-color: rgba(0, 0, 255, 0.1);
}
.contynent-2{
  background-color: rgba(204, 0, 255, 0.1);
}
.contynent-3{
  background-color: rgba(0, 255, 106, 0.1);
}
.contynent-4{
  background-color: rgba(251, 255, 0, 0.1);
}
.contynent-5{
  background-color: rgba(255, 0, 0, 0.1);
}
.contynent-6{
  background-color: rgba(0, 255, 255, 0.1);
}

/* North America */
.alaska{
  width: 60px;
  height: 70px;
  top: 100px;
  left: 60px;
}
.north-canada{
  width: 120px;
  height: 50px;
  top: 100px;
  left: 120px;
}
.alberta{
  width: 60px;
  height: 60px;
  top: 150px;
  left: 120px;
}
.ontario{
  width: 60px;
  height: 60px;
  top: 150px;
  left: 180px;
}
.quebec{
  width: 60px;
  height: 60px;
  top: 150px;
  left: 240px;
}
.greenland{
  width: 80px;
  height: 90px;
  top: 50px;
  left: 280px;
}
.western-us{
  width: 80px;
  height: 80px;
  top: 210px;
  left: 120px;
}
.eastern-us{
  width: 80px;
  height: 80px;
  top: 210px;
  left: 200px;
}
.central-america{
  width: 70px;
  height: 120px;
  top: 290px;
  left: 135px;
}
.central-america span{
  transform: rotate(90deg);
}

/* South America */
.venezuela{
  width: 130px;
  height: 50px;
  top: 410px;
  left: 160px;
}
.peru{
  width: 50px;
  height: 130px;
  top: 460px;
  left: 140px;
}
.brazil{
  width: 130px;
  height: 130px;
  top: 460px;
  left: 190px;
}
.argentina{
  width: 90px;
  height: 130px;
  top: 590px;
  left: 160px;
}

/* Europe */
.iceland{
  width: 70px;
  height: 40px;
  top: 110px;
  left: 440px;
}
.great-britain{
  width: 50px;
  height: 70px;
  top: 160px;
  left: 420px;
}
.great-britain span{
  transform: rotate(60deg);
  font-size: 0.6rem;
}
.western-europe{
  width: 120px;
  height: 50px;
  top: 240px;
  left: 410px;
}
.northern-europe{
  width: 70px;
  height: 50px;
  top: 200px;
  left: 530px;
}
.southern-europe{
  width: 70px;
  height: 50px;
  top: 250px;
  left: 530px;
}
.scandinavia{
  width: 40px;
  height: 100px;
  top: 80px;
  left: 560px;
}
.scandinavia span{
  transform: rotate(90deg);
}
.western-russia{
  width: 130px;
  height: 200px;
  top: 80px;
  left: 600px;
}

/* Asia */
.ural{
  width: 60px;
  height: 160px;
  top: 65px;
  left: 730px;
}
.syberia{
  width: 80px;
  height: 175px;
  top: 50px;
  left: 790px;
}
.yakutsk{
  width: 80px;
  height: 50px;
  top: 65px;
  left: 870px;
}
.irkutsk{
  width: 80px;
  height: 50px;
  top: 115px;
  left: 870px;
}
.mongolia{
  width: 80px;
  height: 60px;
  top: 165px;
  left: 870px;
}
.afganistan{
  width: 60px;
  height: 55px;
  top: 225px;
  left: 730px;
}
.afganistan span{
  transform: rotate(45deg);
  font-size: 0.7rem;
}
.kamchatka{
  width: 70px;
  height: 120px;
  top: 65px;
  left: 950px;
}
.china{
  width: 130px;
  height: 55px;
  top: 225px;
  left: 790px;
}
.japan{
  width: 30px;
  height: 60px;
  top: 190px;
  left: 955px;
}
.japan span{
  transform: rotate(90deg);
}
.middle-east{
  width: 150px;
  height: 100px;
  top: 280px;
  left: 600px;
}
.india{
  width: 70px;
  height: 150px;
  top: 280px;
  left: 750px;
}
.siam{
  width: 70px;
  height: 80px;
  top: 280px;
  left: 820px;
}

/* Africa */
.north-africa{
  width: 120px;
  height: 140px;
  top: 330px;
  left: 410px;
}
.egypt{
  width: 70px;
  height: 70px;
  top: 330px;
  left: 530px;
}
.east-africa{
  width: 100px;
  height: 160px;
  top: 400px;
  left: 530px;
}
.congo{
  width: 60px;
  height: 90px;
  top: 470px;
  left: 470px;
}
.south-africa{
  width: 100px;
  height: 150px;
  top: 560px;
  left: 510px;
}
.madagascar{
  width: 30px;
  height: 100px;
  top: 570px;
  left: 620px;
}
.madagascar span{
  transform: rotate(90deg);
}

/* Australia */
.indonesia{
  width: 100px;
  height: 40px;
  top: 400px;
  left: 850px;
}
.new-guinea{
  width: 80px;
  height: 50px;
  top: 370px;
  left: 960px;
}
.western-australia{
  width: 90px;
  height: 120px;
  top: 460px;
  left: 880px;
}
.eastern-australia{
  width: 90px;
  height: 160px;
  top: 440px;
  left: 970px;
}

/* Lines */
.line{
  background-color: #ff5100;
  height: 1px;
  position: absolute;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 4px 0px rgba(50, 50, 50, 0.75);  
}

.line.greenland-1{
  width: 40px;
  top: 100px;
  left: 240px;
  transform: rotate(0deg);
}
.line.greenland-2{
  width: 63px;
  top: 125px;
  left: 229px;
  transform: rotate(-50deg);
}
.line.greenland-3{
  width: 11px;
  top: 144px;
  left: 286px;
  transform: rotate(90deg);
}
.line.greenland-4{
  width: 100px;
  top: 105px;
  left: 350px;
  transform: rotate(37deg);
}
.line.iceland-1{
  width: 55px;
  top: 169px;
  left: 462px;
  transform: rotate(134deg);
}
.line.iceland-2{
  width: 60px;
  top: 162px;
  left: 504px;
  transform: rotate(25deg);
}
.line.great-britain-1{
  width: 92px;
  top: 183px;
  left: 469px;
  transform: rotate(-10deg);
}
.line.great-britain-2{
  width: 65px;
  top: 203px;
  left: 467px;
  transform: rotate(21deg);
}
.line.great-britain-3{
  width: 11px;
  top: 234px;
  left: 439px;
  transform: rotate(90deg);
}
.line.scandinavia-1{
  width: 21px;
  top: 189px;
  left: 560px;
  transform: rotate(90deg);
}
.line.brazil-1{
  width: 100px;
  top: 470px;
  left: 315px;
  transform: rotate(155deg);
}
.line.north-africa-1{
  width: 41px;
  top: 310px;
  left: 424px;
  transform: rotate(90deg);
}
.line.north-africa-2{
  width: 38px;
  top: 315px;
  left: 504px;
  transform: rotate(125deg);
}
.line.egypt-1{
  width: 31px;
  top: 314px;
  left: 550px;
  transform: rotate(90deg);
}
.line.east-africa-1{
  width: 26px;
  top: 390px;
  left: 624px;
  transform: rotate(125deg);
}
.line.madagascar-1{
  width: 11px;
  top: 564px;
  left: 619px;
  transform: rotate(90deg);
}
.line.madagascar-2{
  width: 11px;
  top: 620px;
  left: 610px;
  transform: rotate(0deg);
}
.line.japan-1{
  width: 6px;
  top: 187px;
  left: 966px;
  transform: rotate(90deg);
}
.line.japan-2{
  width: 6px;
  top: 207px;
  left: 950px;
  transform: rotate(0deg);
}
.line.kamchatka-1{
  width: 120px;
  top: 115px;
  left: 1019px;
  transform: rotate(0deg);
}
.line.alaska-1{
  width: 60px;
  top: 115px;
  left: 0px;
  transform: rotate(0deg);
}
.line.siam-1{
  width: 41px;
  top: 379px;
  left: 849px;
  transform: rotate(90deg);
}
.line.indonesia-1{
  width: 11px;
  top: 409px;
  left: 950px;
  transform: rotate(0deg);
}
.line.indonesia-2{
  width: 21px;
  top: 450px;
  left: 935px;
  transform: rotate(90deg);
}
.line.new-guinea-1{
  width: 51px;
  top: 440px;
  left: 934px;
  transform: rotate(125deg);
}
.line.new-guinea-2{
  width: 21px;
  top: 429px;
  left: 990px;
  transform: rotate(90deg);
}